@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*.header{
   background-color: #f8e88f;
}*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #f3de7f;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 0rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.4375rem;
  gap: 1.3125rem;
}

.menu__link {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #737373;
}

.menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5rem;
  gap: 1.125rem;
}

.icon-menu {
  display: none;
}

.footer__pre-footer {
  background: #16697A;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 0rem;
  gap: 1.875rem;
}

.footer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__getin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-list__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #ffffff;
  margin-right: 2.0625rem;
}

.company-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;
}

.company-list__item {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
}

.legal-list__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #ffffff;
}

.legal-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;
  padding-right: 3.25rem;
}

.legal-list__item {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
}

.features-list__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #ffffff;
}

.features-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;
}

.features-list__item {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
}

.resources-list__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #ffffff;
}

.resources-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;
  padding-right: 2.625rem;
}

.resources-list__item {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
}

.getin-list__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #ffffff;
}

.getin-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;
  padding-right: 5.125rem;
}

.getin-list__item {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.footer__after-footer {
  padding: 1.5625rem 0rem;
}

.after-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.after-block__text {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #737373;
}

.after-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  margin-right: 2.5rem;
}

.main-block {
  position: relative;
  background-color: #f3de7f;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 31.8125rem;
  padding-top: 17.21875rem;
}

.main-block__title {
  font-size: 3.625rem;
  line-height: 5rem;
  letter-spacing: 0.0125rem;
  font-weight: 800;
  color: #252B42;
}

.main-block__text {
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
  font-weight: 500;
  color: #737373;
  padding-top: 2.1875rem;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  padding-top: 2.1875rem;
  padding-bottom: 10.625rem;
}

.main-block__button {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
  padding: 0.625rem 2.25rem;
  border-radius: 2.3125rem;
  background-color: #00a0c1;
}

.main-block__button-border {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
  color: #00a0c1;
  border: 0.0625rem solid #00a0c1;
  border-radius: 2.3125rem;
  background-color: inherit;
}

.main-block__image {
  position: absolute;
  right: 17.8125rem;
  top: 6.5625rem;
}

.choose-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.25rem;
}

.choose-block__title {
  font-size: 2.5rem;
  line-height: 3.5625rem;
  letter-spacing: 0.0125rem;
  font-weight: 700;
  color: #252B42;
}

.choose-block__text {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  font-weight: 500;
  color: #737373;
  margin-top: 0.625rem;
}

.choose-block__cards {
  margin-top: 5rem;
  margin-bottom: 6.25rem;
}

.cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem -0.9375rem;
}

.cards-block__card {
  background: #F9F9F9;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem 5.375rem;
  gap: 0.625rem;
}

.cards-block__unique-card {
  background: #00a0c1;
  padding: 1.875rem 5.5rem;
}

.cards-block__unique-card .card__text {
  color: #ffffff;
}

.cards-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.card__text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.practice-block {
  background-color: #FAFAFA;
}

.practice-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7.8125rem;
  padding-bottom: 5rem;
}

.practice-block__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5625rem;
  letter-spacing: 0.0125rem;
  color: #252B42;
}

.practice-block__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  text-align: center;
  color: #737373;
}

.cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem -0.9375rem;
  margin-top: 2.8125rem;
}

.cards-block__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0rem 0.9375rem;
}

.cards-block__cardi {
  background: #ffffff;
}

.cardi__text-part {
  padding: 1.875rem;
}

.cardi__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.cardi__text {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  color: #737373;
  margin-top: 0.9375rem;
}

.cardi__img img {
  width: 100%;
}

.weare-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.weare-block__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5625rem;
  letter-spacing: 0.0125rem;
  text-align: center;
  color: #252B42;
}

.weare-block__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  text-align: center;
  color: #737373;
  padding-top: 0.9375rem;
}

.weare-block__maincont-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6.25rem;
  gap: 7.5rem;
}

.block-maincont__another-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-another__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5625rem;
  letter-spacing: 0.0125rem;
  color: #252B42;
  padding-top: 1.25rem;
}

.block-another__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  color: #737373;
  padding-top: 0.625rem;
}

.block-another__logdesc-bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.875rem;
}

.bl-logdesc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.bl-logdesc__textbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.bl-logdesc__item-text1 {
  font-weight: 700;
  font-size: 0.936875rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.bl-logdesc__item-text2 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #737373;
}

.page__about {
  background: #FAFAFA;
}

.about-block__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  padding: 3.125rem 0rem;
}

.about-block__item img {
  max-width: 100%;
}

.form-block {
  background: #fafafa;
  position: relative;
}

.form-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.form-block__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #16697A;
  padding: 1.875rem 3.125rem;
  gap: 11.25rem;
  z-index: 20;
}

.form-block__blueline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.8125rem;
  background: #252B42;
}

.bg-block__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
  color: #FFFFFF;
}

.bg-block__form {
  position: relative;
}

.bg-block__form input[type=email] {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.25rem;
  padding-right: 14.6875rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
  color: #737373;
  outline: none;
  border-radius: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
}

.bg-block__form input[type=button] {
  position: absolute;
  right: 0;
  padding: 0.9375rem 1.4375rem;
  text-align: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
  background: #FFA62B;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
}

.get-block {
  background: #fafafa;
}

.get-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-block__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5625rem;
  letter-spacing: 0.0125rem;
  color: #252b42;
  margin-top: 5rem;
}

.get-block__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  color: #737373;
  margin-top: 0.625rem;
  text-align: center;
}

.get-block__touch {
  margin-top: 5rem;
  margin-bottom: 9.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.touch-block__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.0625rem 3.28125rem;
  background: #ffffff;
  margin: 1.875rem 0rem;
}

.touch-block__card-email {
  margin-top: 0.9375rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #252B42;
}

.touch-block__card-email2 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #252B42;
}

.touch-block__card-info {
  margin-top: 0.9375rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.touch-block__card-btn {
  margin-top: 0.9375rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #FFA62B;
  border: 1px solid #FFA62B;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
}

.touch-block__diff-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.9375rem 3.3125rem;
  background-color: #252B42;
}

.touch-block__card-email-diff {
  margin-top: 0.9375rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
}

.touch-block__card-email2-diff {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
}

.touch-block__card-info-diff {
  margin-top: 0.9375rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: #ffffff;
}

.touch-block__card-btn-diff {
  margin-top: 0.9375rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
}

.contact-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0rem;
}

.contact-block__txtfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.contact-block__submit {
  background: #FFA62B;
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
  color: #ffffff;
  padding: 0.9375rem 2.5rem;
  margin-right: 2.375rem;
}

.txtfield-block__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
  color: #252b42;
}

.txtfield-block__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  color: #737373;
}

@media (min-width: 67.5em) {
  .bg-block__form input[type=email] {
    padding-right: 14.6875rem;
  }
}

@media (max-width: 95em) {
  .main-block__image {
    position: absolute;
    right: 1.875rem;
    top: 6.5625rem;
  }
}

@media (max-width: 65em) {
  .get-block__title {
    margin-top: 4.6875rem;
  }

  .get-block__touch {
    margin-top: 3.75rem;
    margin-bottom: 5.3125rem;
  }

  .touch-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 41em) {
  .after-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5625rem;
  }
}

@media (max-width: 34em) and (max-width: 20em) {
  .footer__legal {
    margin-left: 0.0000000625rem;
  }

  .footer__resources {
    margin-left: 0.0000000625rem;
  }
}

@media (max-width: 20em) {
  .main-block__title {
    font-size: 2.1875rem;
    line-height: 1.3;
  }

  .main-block__text {
    font-size: 0.9375rem;
    line-height: 1.5;
  }

  .main-block__button {
    padding: 0.4375rem 1.875rem;
  }

  .bg-block__form input[type=email] {
    padding-right: 6.9375rem;
  }
}

@media (max-width: 110.625em) {
  .main-block__image {
    position: absolute;
    right: 1.875rem;
    top: 6.5625rem;
  }
}

@media (max-width: 81.25em) {
  .main-block__image {
    position: absolute;
    right: 1.875rem;
    top: 6.5625rem;
  }

  .main-block__content {
    padding-top: 17.21875rem;
  }

  .main-block__title {
    font-size: 3.125rem;
    line-height: 5rem;
    letter-spacing: 0.0125rem;
    font-weight: 800;
    color: #252B42;
  }

  .main-block__text {
    font-size: 1.0625rem;
    line-height: 1.875rem;
    letter-spacing: 0.0125rem;
    font-weight: 500;
    color: #737373;
    padding-top: 2.1875rem;
  }
}

@media (max-width: 76.25em) {
  .main-block__image {
    position: relative;
    top: 0;
    right: 0;
  }

  .main-block__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-block__content {
    padding-top: 12.5rem;
    text-align: center;
  }

  .main-block__title {
    font-size: 3.75rem;
  }

  .main-block__text {
    font-size: 1.5625rem;
  }

  .main-block__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
    padding-bottom: 0rem;
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 68.75em) {
  .cards-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .choose-block__cards {
    margin-top: 1.875rem;
    margin-bottom: 0rem;
  }

  .choose-block__cards:last-child {
    margin-bottom: 6.25rem;
  }

  .practice-block__cards {
    gap: 1.875rem;
  }

  .weare-block__maincont-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.25rem;
  }
}

@media (max-width: 66.875em) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 66.6875em) {
  .footer__content {
    padding-left: 12.5rem;
  }
}

@media (max-width: 66.6875em) and (max-width: 20em) {
  .footer__content {
    padding-left: 0.0000000625rem;
  }
}

@media (max-width: 64.375em) {
  .about-block__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 63.75em) and (max-width: 20em) {
  .form-block__bg {
    gap: 0.0000000625rem;
  }
}

@media (max-width: 56.25em) {
  .form-block__container {
    padding: 0;
  }

  .form-block__bg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    width: 100%;
  }

  .bg-block__title {
    font-size: 1.25rem;
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .header__logo {
    z-index: 5;
    margin: 2.25rem 0rem;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #f3de7f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
    margin: 0 auto;
    margin-top: 6.25rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .menu__actions {
    margin: 0 auto;
    margin-top: 3.125rem;
  }

  .menu__actions img {
    width: 30px;
    height: 30px;
  }

  .menu-open .menu {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__logo {
    margin-top: 1.875rem;
  }

  .header__logo {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.5em) {
  .contact-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
  }
}

@media (max-width: 43.75em) {
  .footer__content {
    padding-left: 0rem;
  }
}

@media (max-width: 40.625em) {
  .block-maincont__video iframe {
    max-width: 24.8125rem;
    max-height: 15.125rem;
  }
}

@media (max-width: 35.625em) {
  .main-block__title {
    font-size: 3.125rem;
  }

  .main-block__text {
    font-size: 1.0625rem;
  }
}

@media (max-width: 31.5em) {
  .contact-block__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 29.99875em) {
  .main-block__title {
    font-size: 2.5rem;
  }

  .main-block__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 28.125em) {
  .block-maincont__video iframe {
    max-width: 21.0625rem;
    max-height: 11.375rem;
  }

  .block-another__title {
    font-size: 1.875rem;
    line-height: 2.8125rem;
  }

  .block-another__text {
    font-size: 0.75rem;
  }
}

@media (max-width: 27.5em) {
  .choose-block__title {
    font-size: 2.1875rem;
  }

  .choose-block__text {
    text-align: center;
    font-size: 0.75rem;
  }
}

@media (max-width: 26.125em) {
  .footer__legal {
    margin-left: 0;
  }

  .footer__resources {
    margin-left: 0;
  }
}

@media (max-width: 25.1875em) {
  .after-block__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 24.375em) {
  .choose-block__cards:last-child {
    margin-bottom: 3.125rem;
  }

  .practice-block__content {
    padding-top: 6.25rem;
  }
}

@media (max-width: 23.125em) {
  .choose-block__title {
    font-size: 1.875rem;
  }

  .choose-block__text {
    text-align: center;
    font-size: 0.6875rem;
  }

  .cards-block__card {
    padding: 1.875rem 4.375rem;
  }

  .cards-block__unique-card {
    padding: 1.875rem 4.5rem;
  }

  .card__text {
    font-size: 0.8125rem;
  }

  .choose-block__cards:last-child {
    margin-bottom: 3.125rem;
  }

  .touch-block__card {
    padding: 3.0625rem 1.875rem;
  }

  .touch-block__diff-card {
    padding: 4.9375rem 1.875rem;
  }
}

@media (max-width: 23.75em) {
  .weare-block__title {
    font-size: 1.875rem;
  }

  .block-maincont__video iframe {
    max-width: 17.3125rem;
    max-height: 10.125rem;
  }
}

@media (max-width: 22.9375em) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 22.5em) {
  .practice-block__title {
    font-size: 1.875rem;
  }

  .practice-block__text {
    font-size: 0.75rem;
  }

  .practice-block__content {
    padding-top: 3.3125rem;
    padding-bottom: 6.625rem;
  }

  .bg-block__title {
    font-size: 1.125rem;
  }

  .bg-block__form input[type=button] {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media (max-width: 22.5em) and (max-width: 20em) {
  .bg-block__form input[type=email] {
    padding-right: 4.375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 67.5em) {
  .header__logo {
    margin-top: 2.515rem;
  }

  .header__logo {
    margin-bottom: 2.515rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 67.5em) {
@supports (margin-top: clamp( 1.875rem , 1.6055263158rem  +  1.3473684211vw , 2.515rem )) {
    .header__logo {
      margin-top: clamp( 1.875rem , 1.6055263158rem  +  1.3473684211vw , 2.515rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.6055263158rem  +  1.3473684211vw , 2.515rem )) {
    .header__logo {
      margin-top: calc(1.875rem + 0.64 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6055263158rem  +  1.3473684211vw , 2.515rem )) {
    .header__logo {
      margin-bottom: clamp( 1.875rem , 1.6055263158rem  +  1.3473684211vw , 2.515rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6055263158rem  +  1.3473684211vw , 2.515rem )) {
    .header__logo {
      margin-bottom: calc(1.875rem + 0.64 * (100vw - 20rem) / 47.5);
    }
}
}

@media (max-width: 66.6875em) and (min-width: 67.5em) {
  .footer__content {
    padding-left: 12.5rem;
  }
}

@media (max-width: 66.6875em) and (min-width: 20em) and (max-width: 67.5em) {
@supports (padding-left: clamp( 0.0000000625rem , -5.2631578059rem  +  26.3157893421vw , 12.5rem )) {
    .footer__content {
      padding-left: clamp( 0.0000000625rem , -5.2631578059rem  +  26.3157893421vw , 12.5rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -5.2631578059rem  +  26.3157893421vw , 12.5rem )) {
    .footer__content {
      padding-left: calc(0.0000000625rem + 12.4999999375 * (100vw - 20rem) / 47.5);
    }
}
}

@media (max-width: 34em) and (min-width: 67.5em) {
  .footer__legal {
    margin-left: 25rem;
  }

  .footer__resources {
    margin-left: 25rem;
  }
}

@media (max-width: 34em) and (min-width: 20em) and (max-width: 67.5em) {
@supports (margin-left: clamp( 0.0000000625rem , -10.5263157007rem  +  52.6315788158vw , 25rem )) {
    .footer__legal {
      margin-left: clamp( 0.0000000625rem , -10.5263157007rem  +  52.6315788158vw , 25rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -10.5263157007rem  +  52.6315788158vw , 25rem )) {
    .footer__legal {
      margin-left: calc(0.0000000625rem + 24.9999999375 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -10.5263157007rem  +  52.6315788158vw , 25rem )) {
    .footer__resources {
      margin-left: clamp( 0.0000000625rem , -10.5263157007rem  +  52.6315788158vw , 25rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -10.5263157007rem  +  52.6315788158vw , 25rem )) {
    .footer__resources {
      margin-left: calc(0.0000000625rem + 24.9999999375 * (100vw - 20rem) / 47.5);
    }
}
}

@media (max-width: 63.75em) and (min-width: 67.5em) {
  .form-block__bg {
    gap: 5rem;
  }
}

@media (max-width: 63.75em) and (min-width: 20em) and (max-width: 67.5em) {
@supports (gap: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem )) {
    .form-block__bg {
      gap: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem )) {
    .form-block__bg {
      gap: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 47.5);
    }
}
}

@media (min-width: 20em) and (max-width: 67.5em) {
@supports (padding-right: clamp( 6.9375rem , 3.6743421053rem  +  16.3157894737vw , 14.6875rem )) {
    .bg-block__form input[type=email] {
      padding-right: clamp( 6.9375rem , 3.6743421053rem  +  16.3157894737vw , 14.6875rem );
    }
}

@supports not (padding-right: clamp( 6.9375rem , 3.6743421053rem  +  16.3157894737vw , 14.6875rem )) {
    .bg-block__form input[type=email] {
      padding-right: calc(6.9375rem + 7.75 * (100vw - 20rem) / 47.5);
    }
}
}

@media (max-width: 22.5em) and (min-width: 67.5em) {
  .bg-block__form input[type=email] {
    padding-right: 6.9375rem;
  }
}

@media (max-width: 22.5em) and (min-width: 20em) and (max-width: 67.5em) {
@supports (padding-right: clamp( 4.375rem , 3.2960526316rem  +  5.3947368421vw , 6.9375rem )) {
    .bg-block__form input[type=email] {
      padding-right: clamp( 4.375rem , 3.2960526316rem  +  5.3947368421vw , 6.9375rem );
    }
}

@supports not (padding-right: clamp( 4.375rem , 3.2960526316rem  +  5.3947368421vw , 6.9375rem )) {
    .bg-block__form input[type=email] {
      padding-right: calc(4.375rem + 2.5625 * (100vw - 20rem) / 47.5);
    }
}
}